.column {
    float: left;
    max-width: 33.33%;
    height: 100%;
    word-wrap: break-word;
    
}

img {
    width: 250px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 25px;
    margin-bottom: 0%;
}

h2 {
    text-align: center;
    margin-top: 50px;
    text-decoration: underline;
    margin-left: 15px;
    margin-right: 15px;
}

hr {
    size: 10;
    height: 10px;
    margin-left: 15px;
    margin-right: 15px;
    color: #110a6a;
    border-color: #110a6a;
    background: #110a6a;
    display: block;
}

p  {
    font-size: 18px;
    margin: 15px;
}

#border {
    border-left: 8px solid black;
    border-right: 8px solid black;
    line-height: 100%;
}


